#package #content {
    text-align: center;

    .instructions {
        text-align: center;
        margin: 0 0 30px;
        font-family: $Ideal;
    }
    .description {
        font: normal 18pt/24pt $Chronicle;
        &.long {
            font: normal 11pt/15pt $Chronicle;
        }
        padding: 0 17%;
    }
    .button-wrapper {
        margin: 38px auto 30px;
    }
}
