#package #content {
    text-align: center;

    .selected {
        .icon { display: block; }
    }
    .icon {
        display: none;
        position: absolute;
        top: 12px;
        left: 16px;
        font-size: 24px;
        line-height: 24px;
    }
    .instructions {
        text-align: center;
        margin: 0 0 30px;
        font-family: $Ideal;
    }
    .description {
        font: normal 18pt/24pt $Chronicle;
        &.long {
            font: normal 11pt/15pt $Chronicle;
        }
        padding: 0 17%;
    }
    .button-wrapper {
        margin: 38px auto 30px;
    }
}
