#package #content {
    text-align: center;

    .instructions {
        text-align: center;
        margin: 0 0 30px;
        font-family: $Ideal;
    }
    .description {
        font: normal 18pt/24pt $Chronicle;
        &.long {
            font: normal 11pt/15pt $Chronicle;
        }
        padding: 0 17%;
    }

    .selected .icon { display: block; }
    .icon {
        display: none;
        position: absolute;
        top: 12px;
        left: 16px;
        font-size: 24px;
        line-height: 24px;
    }
    .disabled .icon {
        color: $medium-gray;
    }

    .status-icon {
        font-size: 12px;
        line-height: 12px;
        width: auto;
        margin: 0;
    }
    ul:not(.open) .status-icon {
        color: $medium-gray;
    }

    .button-wrapper {
        margin: 38px auto 30px;
    }
}
