// Buttons and Knobs

button::-moz-focus-inner {

    /* "I found out that Firefox adds an extra margin/padding to button
     * elements that cannot be changed by standard CSS, you can however
     * add the following to make it behave"
     *
     *  http://stackoverflow.com/questions/5939781/
     */

    border: 0;
    padding: 0;
}

button,
.button {
    background: $gray;
    border: 0;
    color: white;
    font: normal 13px $Ideal;
    margin: 0 0 0 1px;
    padding: 5px 8px;
    white-space: nowrap;
    @include border-radius(3px);
    cursor: pointer;
    display: inline;

    &:disabled {
        opacity: .5;

        &:hover {
            background: $gray;
            cursor: default;
        }
    }
}
button:hover,
.button:hover {
    background: $darker-gray;
}
button.selected,
.button.selected {
    background: $green;
}
button.selected:hover, button.selected.drag,
.button.selected:hover, .button.selected.drag {
    background: $darker-green;
}
button.large {
    font: normal 16px/32px $Ideal;
    padding: 10px 16px;
    border-radius: 5px;
}

.buttons button {
    margin-top: 3px;
}
.apply-button {
    position: absolute;
    top: 0;
    right: 0;
}
